/* General */
html {
    box-sizing: border-box;

}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/* Global Properties */
:root {
    --brand-color: #426B1F;
    --brand-color-darker: #2e4f12;
    --primary-color: #000;
    --secondary-color: #FFF;
}

/* Container for all sections */
.container {
    padding: 0 96px;

}


.btn, .btn:hover {
    transition: 0.4s;
}

.btn {
    background-color: var(--brand-color);
    color: var(--secondary-color);
    display: block;
    text-decoration: none;
    letter-spacing: 0.5px;
    border-radius: 8px;
} 

.btn:hover {
    background-color: var(--brand-color-darker);
}

.header, section, .footer {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */
.header {
    min-height: 112px;
    max-width: 1440px;
    padding-top: 20px;
}



.header__content {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-weight: 500;
    font-size: 32px;
    color: var(--brand-color);
    letter-spacing: -0.3px;
    font-family: "Newsreader", serif;
}

.header__nav {
    max-width: 600px;
    width: 100%;
    padding-top: 12px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    gap: 30px;
    align-items: center;
}

.header__nav-item {
    list-style-type: none;
}

.header__nav-link {
    display: block;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.header__nav-button {
    /* display: block;
    text-decoration: none;
    letter-spacing: 0.5px;
    border-radius: 8px; */
    width: 126px;
    line-height: 48px;
    text-align: center;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* About */
.about {
    padding-top: 168px;
}

.about__title {
    font-size: 64px;
    text-align: center;
    font-family: "Newsreader", serif;
    font-weight: 400;
    max-width: 1020px;
    margin: 0 auto 47px;
    letter-spacing: -1.28px;
    padding-left: 14px;
    line-height: 76.8px;
}


.about__button {
    display: block;
    max-width: 227px;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 8px;
    line-height: 64px;
    font-size: 20px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* Images */
.images {
    padding-top: 157px;
}

.images-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    align-items: center;
}

.image-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.images-list .image-item:last-child img {
    margin-top: 15px;
}

.image-title {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 160%;
    max-width: 736px;
    margin: 0;
}


/* Footer */
.footer {
    padding-top: 154px;
}

.footer-items {
    display: flex;
    gap: 75px;
    align-items: baseline;
    
}

.footer-title {
    font-family: "Inter Semi Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    font-size: 14px;
    max-width: 181px;
    margin-top: 0;

}

.footer-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    max-width: 822px;
    letter-spacing: 0.4px;
    margin-top: 0;
    line-height: 32px;

}

/* Media */
@media screen and (max-width: 1450px) {
    .images-list {
        flex-direction: column;
    }

    .image-item img {
        width: 60vw;

    }
}


@media screen and (max-width: 1166px) {
    .about {
        padding-top: 56px;
    }

    .about__title {
        padding: 0;
        font-size: 40px;
        letter-spacing: 0;
        line-height: normal;
    }

}

@media screen and (max-width: 780px) {
    .header__content {
        flex-direction: column;
    }

    .header__title {
        margin: 0 auto;
        text-align: center;

    }

    .header__nav-list {
        flex-direction: column;
    }



    .footer-items {
        flex-direction: column;
    }

}

